<script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
<header>
    <a href="/"><img id="logo" src="/img/logo.png" alt="logo"></a>
    <nav> 
        <ul> 
            <a href="/criar"> <li> <i class="fa-solid fa-circle-plus"></i> Criar </li> </a>
        </ul>
    </nav>
</header>